streamlit==1.50.0
pandas==2.3.3
requests==2.32.5
python-dotenv==1.2.1
jinja2==3.1.6
plotly==6.7.0
click==8.1.8
openpyxl==3.1.5
newsapi-python==0.2.7
google-api-python-client==2.194.0
pyarrow==21.0.0
altair==5.5.0
pillow==11.3.0
